/*

!.gitignore

!.profile
!.bashrc
!.bash_login
!.bash/

!.nanorc

!.screenrc

!.Xmodmap

!.local/
.local/*

!.local/bin/compare-gzip-size
!.local/bin/get-gzip-size

!.local/sources/
!.local/compiled/
