/*


!.gitignore
!.gitconfig

!.profile
!.bashrc
!.bash_login
!.bash/

!.ssh/
.ssh/*
!.ssh/config

!.local/
.local/*
!.local/bin/
!.local/sources/

!.audacity-data/
.audacity-data/*
!.audacity-data/audacity.cfg